*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4;
  color: #f0f0f0;
}

h1,
h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-align: center;
}

h1 {
  font-size: 4rem;
}

a {
  text-decoration: none;
  color: #f0f0f0;
}

img {
  display: block;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #BE3144;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  z-index: 2;
}
nav ul {
  list-style: none;
}
nav ul a {
  display: block;
  font-size: 1.5rem;
  padding: 1rem;
}
nav ul a:hover {
  background-color: #45567d;
}

.nav-list {
  display: flex;
  margin-right: 2rem;
}

#about {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #303841;
}
#about p {
  font-style: italic;
  font-weight: 200;
  font-size: 2rem;
  color: #BE3144;
}

#work {
  text-align: center;
  padding: 10rem 2rem;
  background: #45567d;
}
#work button {
  padding: 10px 15px;
  font-size: 1rem;
}
#work .projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 2rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.projects-header {
  max-width: 640px;
  margin: 0 auto 6rem auto;
  border-bottom: 0.2rem solid #f0f0f0;
}

.project {
  background: #303841;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

.project-image {
  height: calc(100% - 4rem);
  width: 100%;
  object-fit: cover;
}

.project-title {
  font-size: 1.3rem;
  padding: 1rem 0.5rem;
  text-align: center;
}

.btn {
  display: inline-block;
  padding: 0.7rem 1.3rem;
  border-radius: 2px;
}

.btn-show-all {
  font-size: 1.2rem;
  cursor: pointer;
  background: #303841;
  transition: transform 0.3s ease-out;
}
.btn-show-all:hover {
  background: #BE3144;
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  width: 100%;
  height: 80vh;
  padding: 0 1rem;
  background: #303841;
}

.contact-header h2 {
  font-size: 2.5rem;
}
.contact-header p {
  font-size: 1rem;
  font-style: italic;
}

.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 3rem;
  flex-wrap: wrap;
}

.contact-details {
  font-size: 1.5rem;
  text-shadow: 2px 2px 1px #1f1f1f;
  transition: transform 0.3s ease-out;
}
.contact-details:hover {
  transform: translateY(8px);
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #303841;
  border-top: 4px solid #BE3144;
  padding: 1.5rem;
  text-align: center;
}
footer p {
  font-size: 1rem;
  padding: 1.5rem;
  margin: auto 0;
}

@media only screen and (min-width: 520px) {
  footer {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
@media only screen and (min-width: 720px) {
  nav {
    justify-content: flex-end;
  }

  .contact-header h2 {
    font-size: 3.5rem;
  }
}

/*# sourceMappingURL=main.css.map */
